@import "@fontsource-variable/work-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-50-900-token antialiased text-base-token;
    --theme-font-family-base: theme(fontFamily.sans) !important;
    --theme-font-family-heading: Var(--theme-font-family-base) !important;
  }
}

@layer utilities {
  .no-tap-highlight {
    -webkit-tap-highlight-color: transparent;
  }
  .gradient-text {
    @apply bg-gradient-to-b box-decoration-clone bg-clip-text text-[transparent];
  }
  .animated-underline {
    @apply no-tap-highlight relative transition-opacity before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:transform before:bg-gradient-to-r before:from-primary-500/30 before:to-secondary-500/60 before:transition-transform before:duration-300 before:ease-in-out before:content-[''] before:rounded-token hover:opacity-95 hover:before:origin-left hover:before:scale-x-100;
  }
  .social-link-button {
    @apply no-tap-highlight flex items-center gap-2 rounded-md bg-gradient-to-br fill-[currentColor] p-2 font-semibold text-surface-800 shadow-lg transition-all duration-300 ease-in-out hover:opacity-90 active:opacity-80 dark:text-surface-900;
  }
}
